/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL SETTINGS */

html {
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
}

.bkg-sky {
    background-color: #B4D0E7;
}

.big-container {
    max-width: 1200px;
    margin: auto;
}

.small-container {
    max-width: 1000px;
    margin: auto;
}

.btn {
    color: rgb(255, 255, 255);
    background-color: #0061FF;
    border: none;
    cursor: pointer;
}

li {
    list-style: none;
}


/* HEADER */

.navbar-top {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.navbar-top a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* MENU LEFT NAVBAR TOP */

.menu-left {
    display: flex;
    align-items: center;
}

.menu-left a {
    padding: 30px 20px;
}

.menu-left img {
    padding-inline: 20px;
    padding-top: 6px;
}

/* MENU RIGHT NAVBAR TOP */

.menu-right {
    display: flex;
    align-items: center;
}

.menu-right a {
    padding: 30px 20px;
}

.btn-nav {
    font-size: 16px;
    padding: 8px 16px;
    margin-right: 20px;
}

/* JUMBO SECTION */

.jumbo-content {
    display: flex;
    position: relative;
    padding-top: 3rem;
}

.jmb-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.jmb-left p {
    line-height: 1.5;
}

.btn-jmb {
    font-size: 18px;
    padding: 15px 0px;
    margin-right: 7rem;
}

.jumbo img {
    height: 30rem;
    margin-bottom: -75px;
}

h1 {
    padding-top: 5rem;
    font-size: 5rem;
}

.arw-down {
    position: absolute;
    font-size: 3.5rem;
    left: 0;
    bottom: 15px;
    cursor: pointer;
    /* hover per far skippare la sezione */
}

/* MAIN */

/* FIRST SECTION */

.first-sec {
    padding-top: 10rem;
}

.first-sec h2 {
    font-size: 2.5rem;
    padding-bottom: 50px;
}

.box-cards {
    padding-top: 3rem;
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
}

.card {
    height: 800px;
    width: calc(100% / 3);
    border: 1px solid gray;
}


.sub-text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-text {
    border-bottom: 1px solid gray;
}

.info-card {
    padding: 2rem;
}

.info-card li {
    font-size: 14px;
    padding: 0.5rem;
}

.btn-card {
    padding: 10px 35px;
}

.btn-card-1 {
    padding: 10px 80px;
}

/* SECOND SECTION */

.bot-card {
    display: flex;
    width: 100%;
}

.bot-card img {
    height: 30rem;
}

.right-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2.5rem;
}

.right-text p {
    margin-bottom: 1rem;
}

.btn-clear {
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid black;
    padding: 10px 10px;
    margin-right: 9rem;
}
