/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL SETTINGS */

html {
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
}

.bkg-sky {
    background-color: #B4D0E7;
}

.big-container {
    max-width: 1200px;
    margin: auto;
}

.small-container {
    max-width: 1000px;
    margin: auto;
}

.btn {
    color: rgb(255, 255, 255);
    background-color: #0061FF;
    border: none;
    cursor: pointer;
    display: inline-block;
}

li {
    list-style: none;
}


/* HEADER */

.navbar-top {
    background-color: rgb(255, 255, 255);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
}
    
.navbar-top a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* MENU LEFT NAVBAR TOP */

.menu-left {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-left a {
    padding: 30px 20px;
}

.menu-left img {
    padding-inline: 20px;
    padding-top: 6px;
}

/* MENU RIGHT NAVBAR TOP */

.menu-right {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-right a {
    padding: 30px 20px;
}

.btn-nav {
    font-size: 16px;
    padding: 8px 16px;
    margin-right: 20px;
}

/* JUMBO SECTION */

.jumbo-content {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-top: 3rem;
}

.jmb-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.jmb-left p {
    line-height: 1.5;
}

.btn-jmb {
    font-size: 18px;
    padding: 15px 15px;
    margin-right: 7rem;
    white-space: nowrap;
    text-decoration: none;
}

.jumbo-content img {
    min-width: 70%;
    margin-bottom: -75px;
}

h1 {
    padding-top: 10rem;
    font-size: 5rem;
}

.arw-down {
    position: absolute;
    font-size: 3.5rem;
    left: 0;
    bottom: 15px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

/* MAIN */

/* CARDS SECTION */

.first-sec {
    padding-top: 10rem;
}

.month-plan {
    color: #0061FF;
}

.year-plan {
    padding-left: 50px;
    color: rgb(122, 122, 122);
}

.first-sec h2 {
    font-size: 2.5rem;
    padding-bottom: 50px;
}

.box-cards {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.card {
    margin-inline: 1.5rem;
    width: calc(100% / 3 - 2rem);
    border: 1px solid rgb(201, 201, 201);
}

.sub-text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-text {
    border-bottom: 1px solid rgb(201, 201, 201);
}

.info-card {
    padding: 2rem;
}

.info-card > li {
    font-size: 14px;
    padding: 1rem;
}

.info-card-bot li {
    padding-top: 1rem;
}

li > h3 {
    font-size: 1.5rem;
}

li > a {
    color: #1838F0;
}

.name-plan {
    margin-bottom: 1.5rem;
}

.price {
    font-weight: 800;
}

.plan {
    color: rgb(128, 128, 128);
    font-size: 200;
    padding-bottom: 1rem;
}

.btn-card {
    white-space: nowrap;
    padding: 10px 35px;
}

.btn-card-1 {
    padding: 10px 80px;
}

.fa-check {
    color: #0061FF;
}

.before::before {
    content: "";
    display: block;
    width: 30%;
    border-top: 1px solid rgb(201, 201, 201);
}

/* FOURTH CARD */

.bot-box {
    border: 1px solid rgb(201, 201, 201);
    margin-bottom: 10rem;
}

.sub-text {
    border-bottom: 1px solid rgb(201, 201, 201);
}

.bot-content {
    display: flex;
}

.bot-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.bot-left > div {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 2rem;
}

.bot-right {
    align-self: self-start;
    padding: 2rem;
}

.btn-seller {
    white-space: nowrap;
    padding: 10px 30px;
}

/* PARTNER SECTION */

.partner-box {
    display: flex;
    width: 100%;
}

.partner-box img {
    height: 30rem;
}

.right-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem;
}

.right-text p {
    margin-bottom: 1rem;
}

.btn-clear {
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid black;
    padding: 10px 10px;
    margin-right: 12rem;
}

/* BUSINESS SECTION */

.third-sec {
    padding-top: 8rem;
}

.third-sec > h2 {
    font-size: 2.5rem;
    padding-bottom: 3.5rem;
}

.end-business > h2 {
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 1.5rem;
}

.end-business > p {
    line-height: 0;
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 5rem;
}

.end-business > a {
    font-size: 0.8rem;
    color: #1838F0;
}

.third-sec h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.business-box {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 8rem;
}

.business-card {
    flex: calc(100% / 3 - 1rem);
    padding-inline: .5rem;
    padding-bottom: 3rem;
}

.business-card img {
    height: 250px;
    min-width: 20%;
}

/* TEAM SECTION */

.teams-container {
    padding-top: 7rem;
    display: flex;
}

.team-left {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
}

.center-team {
    width: calc(100% / 3);
}

.team-right {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
}

.box {
    width: calc(100% / 2);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-center {
   height: 100%;
}

.center-text > p {
    padding-top: 2rem;
    padding-inline: 2rem;
}

.author-text {
    padding-top: 4rem;
    padding-left: 2rem;
}

.box-center  {
    padding-top: 2rem;
    padding-inline: 2rem;
}

.center-text::before {
    content: '______________';
    color: rgb(201, 201, 201);
    padding-inline: 2rem;
}

.svg {
    width: 50%;
    filter: invert(1);
}

.svg-a {
    padding-top: 2rem;
    padding-left: 2rem;
    width: 50%;
}

.bkg-a {
    background-color: #a2d39b;
}

.bkg-b{
    background-color: #61082b;
}

.bkg-c {
    background-color: #0093ce;
}

.bkg-d {
    background-color: #ff1c1c;
}

.bkg-e {
    background-color: #f5f5f5;
}

.bkg-f {
    background-color: #d5001f;
}

.bkg-g {
    background-color: #b4d0e7;
}

.bkg-h {
    background-color: #0d2481;
}

.bkg-i {
    background-color: #ffd830;
}

/* COMPANY SECTION */

.company-container {
    height: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-container > h2 {
    font-size: 2.5rem;
    color: #61082B;
    flex: 0 0 50%;
}

.company-container > a {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 10px 30px;
    white-space: nowrap;
    text-decoration: none;
}

/* FAQ SECTION */

.faq-sec > h2 {
    font-size: 2.5rem;
    padding-top: 10rem;
    margin-bottom: 4rem;
}

.faq::before {
    content: "";
    display: block;
    height: 2rem;
    border-top: 1px solid rgb(201, 201, 201);
}

.faq {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin-bottom: 2rem
}

.faq-sec:last-child::after {
    content: "";
    display: block;
    height: 2rem;
    border-top: 1px solid rgb(201, 201, 201);
}

.fa-arw {
    align-self: flex-end;
}

/* FOOTER */

footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 253, 253);
}

.navbar-bot {
    display: flex;
    justify-content: space-between;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.title-nav {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.navbar-bot li {
    margin-bottom: .8rem;
}

.lng::before {
    content: "";
    display: block;
    width: 7rem;
    height: 3.5rem;
    border-top: 1px solid rgb(255, 255, 255);
}

.lng {
    padding-bottom: 2rem;
    color: rgb(153,153,153);
}