/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL SETTINGS */

html {
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
}

.bkg-sky {
    background-color: #B4D0E7;
}

.big-container {
    max-width: 1200px;
    margin: auto;
}

.btn {
    color: rgb(255, 255, 255);
    background-color: #0061FF;
    border: none;
    cursor: pointer;
}

li {
    list-style: none;
}


/* HEADER */

.navbar-top {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.navbar-top a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* MENU LEFT NAVBAR TOP */

.menu-left {
    display: flex;
    align-items: center;
}

.menu-left a {
    padding: 30px 20px;
}

.menu-left img {
    padding-inline: 20px;
    padding-top: 6px;
}

/* MENU RIGHT NAVBAR TOP */

.menu-right {
    display: flex;
    align-items: center;
}

.menu-right a {
    padding: 30px 20px;
}

.btn-small {
    font-size: 16px;
    padding: 8px 16px;
    margin-right: 20px;
}

/* JUMBO SECTION */

.jumbo-content {
    display: flex;
    position: relative;
    padding-top: 3rem;
}

.jmb-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.jmb-left p {
    line-height: 1.5;
}

.btn-large {
    font-size: 18px;
    padding: 15px 0px;
    margin-right: 7rem;
}

.jumbo img {
    height: 30rem;
    margin-bottom: -75px;
}

h1 {
    padding-top: 5rem;
    font-size: 5rem;
}

.arw-down {
    position: absolute;
    font-size: 3.5rem;
    left: 0;
    bottom: 15px;
    cursor: pointer;
    /* hover per far skippare la sezione */
}
